.container {
  padding: 0 24px;
  max-width: 345px;
  box-sizing: border-box;
  margin: 0 auto;
  // @include mobile-large {
  //   max-width: 345px;
  //   padding: 0 70px;
  // }
  // @include tablet {
  // }
  // @include tablet-large {
  //   padding: 0 60px;
  // }
}
