@import "../../assets/sass/main.scss";

.btn {
  box-sizing: border-box;
  width: 100%;
  border: none;
  font-family: $font-lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 5.75765px 5.75765px 21.59119px 11.5153px rgba(144, 1, 224, 0.2),
    -5.75765px -5.75765px 21.59119px 0px rgba(255, 112, 44, 0.2),
    5.75765px -5.75765px 21.59119px 0px rgba(253, 188, 81, 0.2);
  span {
    min-width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    // padding: 16px 115px;
    padding: 16px 114px;
  }

  // &--large {
  //   @include laptop {
  //     font-size: 24px;
  //     font-style: normal;
  //     font-weight: 500;
  //     line-height: 30px; /* 125% */
  //     text-transform: capitalize;
  //     padding: 40px 10px 40px 10px;
  //     span {
  //       outline: 9px solid #302652;
  //       padding: 30px 60px;
  //     }
  //   }
  // }

  &--primary {
    color: $text-white;
    background: $gradient-purple;
    span {
      outline: 8px solid #302652;
      background: $gradient-purple;
    }
    &:hover {
      color: #ffffffd6;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        conic-gradient(
          from 225deg at 50% 164.17%,
          #331f53 0deg,
          #4c177a 18.696360737085342deg,
          #9001e0 59.703360199928284deg,
          #ff005c 118.83618235588074deg,
          #fdbc51 181.87499284744263deg,
          #cdd2e5 247.24984645843506deg,
          #2290ec 300.6723690032959deg,
          #25164b 360deg
        );

      span {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
          ),
          conic-gradient(
            from 225deg at 50% 164.17%,
            #331f53 0deg,
            #4c177a 18.696360737085342deg,
            #9001e0 59.703360199928284deg,
            #ff005c 118.83618235588074deg,
            #fdbc51 181.87499284744263deg,
            #cdd2e5 247.24984645843506deg,
            #2290ec 300.6723690032959deg,
            #25164b 360deg
          );
      }
    }
    &:focus {
      color: #ffffffc0;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        conic-gradient(
          from 225deg at 50% 164.17%,
          #331f53 0deg,
          #4c177a 18.696360737085342deg,
          #9001e0 59.703360199928284deg,
          #ff005c 118.83618235588074deg,
          #fdbc51 181.87499284744263deg,
          #cdd2e5 247.24984645843506deg,
          #2290ec 300.6723690032959deg,
          #25164b 360deg
        );
      span {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.3) 100%
          ),
          conic-gradient(
            from 225deg at 50% 164.17%,
            #331f53 0deg,
            #4c177a 18.696360737085342deg,
            #9001e0 59.703360199928284deg,
            #ff005c 118.83618235588074deg,
            #fdbc51 181.87499284744263deg,
            #cdd2e5 247.24984645843506deg,
            #2290ec 300.6723690032959deg,
            #25164b 360deg
          );
      }
    }
    &:active {
      color: $text-white;
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.2) 0%,
          rgba(255, 255, 255, 0.2) 100%
        ),
        conic-gradient(
          from 225deg at 50% 164.17%,
          #331f53 0deg,
          #4c177a 18.696360737085342deg,
          #9001e0 59.703360199928284deg,
          #ff005c 118.83618235588074deg,
          #fdbc51 181.87499284744263deg,
          #cdd2e5 247.24984645843506deg,
          #2290ec 300.6723690032959deg,
          #25164b 360deg
        );
      span {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 100%
          ),
          conic-gradient(
            from 225deg at 50% 164.17%,
            #331f53 0deg,
            #4c177a 18.696360737085342deg,
            #9001e0 59.703360199928284deg,
            #ff005c 118.83618235588074deg,
            #fdbc51 181.87499284744263deg,
            #cdd2e5 247.24984645843506deg,
            #2290ec 300.6723690032959deg,
            #25164b 360deg
          );
      }
    }
    &:disabled {
      cursor: not-allowed;
      color: $text-grey-dark;
      background: $text-grey-dark;
      box-shadow: none;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 26px;
      padding-bottom: 26px;
      span {
        background: $background-blue;
        outline: 6px solid $background-blue;
        border: 2px solid $text-grey-dark;
      }
    }
  }

  &--secondary {
    color: $background-blue;
    background: $gradient-blue-light;
    span {
      outline: 8px solid #302652;
      background: $gradient-blue-light;
    }
    &:hover {
      color: $background-blue;

      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        linear-gradient(
          278deg,
          #36c1e1 -3.31%,
          #39fef7 20.54%,
          #87e1fa 71.15%,
          #fff 110.81%
        );

      span {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
          ),
          linear-gradient(
            278deg,
            #36c1e1 -3.31%,
            #39fef7 20.54%,
            #87e1fa 71.15%,
            #fff 110.81%
          );
      }
    }
    &:focus {
      color: $background-blue;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0.4) 100%
        ),
        linear-gradient(
          278deg,
          #36c1e1 -3.31%,
          #39fef7 20.54%,
          #87e1fa 71.15%,
          #fff 110.81%
        );

      span {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%
          ),
          linear-gradient(
            278deg,
            #36c1e1 -3.31%,
            #39fef7 20.54%,
            #87e1fa 71.15%,
            #fff 110.81%
          );
      }
    }
    &:active {
      color: $background-blue;
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.2) 0%,
          rgba(255, 255, 255, 0.2) 100%
        ),
        linear-gradient(
          278deg,
          #36c1e1 -3.31%,
          #39fef7 20.54%,
          #87e1fa 71.15%,
          #fff 110.81%
        );
      span {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 100%
          ),
          linear-gradient(
            278deg,
            #36c1e1 -3.31%,
            #39fef7 20.54%,
            #87e1fa 71.15%,
            #fff 110.81%
          );
      }
    }
    &:disabled {
      cursor: not-allowed;
      color: $text-grey-dark;
      background: $text-grey-dark;
      box-shadow: none;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 26px;
      padding-bottom: 26px;
      span {
        background: $background-blue;
        outline: 6px solid $background-blue;
        border: 2px solid $text-grey-dark;
      }
    }
  }

  &--outline {
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
    border: 1px solid $text-white;
    padding: 19px 110px;
    color: $text-white;
    font-family: $font-lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    &:hover {
      color: $accent-blue-light;
      border: 1px solid $accent-blue-light;
    }
    &:focus {
      color: $accent-blue-light;
      border: 1px solid $accent-blue-light;
    }
    &:disabled {
      color: $text-grey-dark;
      border: 1px solid $text-grey-dark;
    }
  }

  &--arrow-right {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    span {
      position: relative;
      &:after {
        margin-left: 8px;
        width: 25px;
        height: 25px;
        top: 1.7px;
        position: absolute;
        content: url("../../assets/icons/btn-arrow/arrow-right-white.svg");
      }
    }

    &:hover {
      color: $accent-blue-light;
      span {
        &:after {
          content: url("../../assets/icons/btn-arrow/arrow-right-blue.svg");
        }
      }
    }

    &:active {
      span {
        &:after {
          content: url("../../assets/icons/btn-arrow/arrow-right-blue.svg");
        }
      }
    }

    &:focus {
      span {
        &:after {
          content: url("../../assets/icons/btn-arrow/arrow-right-blue.svg");
        }
      }
    }

    &:disabled {
      color: $text-grey-dark;
      border: 1px solid $text-grey-dark;
      span {
        &:after {
          content: url("../../assets/icons/btn-arrow/arrow-right-grey.svg");
        }
      }
    }
  }
}
