@import "../../../assets/sass/main.scss";

.welcome {
  background-color: $background-blue;
  .container {
    padding-top: 24px;
    padding-bottom: 39px;
    @include tablet {
      display: flex;
      align-items: center;
      .section-title {
        min-width: 448px;
        max-width: 525px;
        p {
          margin-bottom: 20px;
        }
        .buttons {
          display: flex !important;
          flex-direction: row-reverse;
          justify-content: flex-end;
          gap: 35px;
        }
      }
      .mira {
        max-width: 338px;
        .box {
          .logo {
            max-width: 200px !important;
            margin: 0 !important;
            left: 30% !important;
          }
          span {
            margin: 0 !important;
            margin-left: 3px !important;
            left: 30% !important;
          }
          .mira-image {
            margin: 0 !important;
          }
        }
        .buttons {
          display: none !important;
        }
      }
    }
    @include laptop {
      justify-content: space-around;
    }
    .section-title {
      h1 {
        color: $text-white;
        text-shadow: 0px 2.263399839401245px 2.263399839401245px
          rgba(255, 255, 255, 0.25);
        font-family: $font-appleTea;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 30px */
        letter-spacing: 4px;
        text-transform: capitalize;
        margin-bottom: 14px;
      }
      p {
      }
      .buttons {
        display: none;
      }
    }
    .mira {
      margin-top: -24px;
      mix-blend-mode: lighten;
      .box {
        position: relative;
        .logo {
          margin-top: -40px;
          max-width: 232px !important;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include laptop {
            max-width: 292px !important;
          }
        }
        span {
          margin-top: -40px;
          z-index: 1;
          position: absolute;
          margin-left: 3px;
          top: 51%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $text-gold;
          text-shadow: 0px 1.7986161708831787px 1.7986161708831787px
            rgba(255, 255, 255, 0.25);
          font-family: $font-levenim;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 5.756px;
          text-transform: uppercase;
          @include laptop {
            font-size: 36px;
          }
        }

        .mira-image {
          margin-left: 78px;
          max-width: 385px;
          @include laptop {
            min-width: 500px;
          }
        }
      }
      .buttons {
        position: relative;
        z-index: 1;
        margin-top: -89px;
        display: flex;
        gap: 20px;
        flex-direction: column;
      }
    }
  }
}
