@import "../../../assets/sass/main.scss";

.welcome {
  background-color: $background-blue;
  .container {
    padding-top: 24px;
    padding-bottom: 39px;
    h1 {
      color: $text-white;
      text-shadow: 0px 2.263399839401245px 2.263399839401245px
        rgba(255, 255, 255, 0.25);
      font-family: $font-appleTea;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 30px */
      letter-spacing: 4px;
      text-transform: capitalize;
      margin-bottom: 14px;
    }
    p {
    }
    .mira {
      margin-top: -24px;
      mix-blend-mode: lighten;
      .box {
        position: relative;
        .logo {
          margin-top: -40px;
          max-width: 232px;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        span {
          margin-top: -30px;
          z-index: 1;
          position: absolute;
          margin-left: 3px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $text-gold;
          text-shadow: 0px 1.7986161708831787px 1.7986161708831787px
            rgba(255, 255, 255, 0.25);
          font-family: $font-levenim;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 5.756px;
          text-transform: uppercase;
        }

        .mira-image {
          margin-left: 78px;
          max-width: 385px;
        }
      }
      .buttons {
        position: relative;
        z-index: 1;
        margin-top: -89px;
        display: flex;
        gap: 20px;
        flex-direction: column;
      }
    }
  }
}
