@import "../../assets/sass/main.scss";

ol {
  list-style: none;
  counter-reset: item;
  li {
    display: flex;
    margin-bottom: 20px;
    span {
      max-width: 320px;
      margin: 0;
      color: $text-white;
      text-shadow: 0px 2.263399839401245px 2.263399839401245px
        rgba(255, 255, 255, 0.25);
      font-family: $font-lexend;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      opacity: 0.5;
    }
    &:before {
      content: counter(item); /* Display the current item number */
      counter-increment: item; /* Increment the counter for each item */
      color: $text-green;
      font-family: $font-lexend;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-right: 10px;
    }
  }
}
