@import "../../../assets//sass/main.scss";

.benefits {
  padding: 24px 0;
  background-color: $background-blue;
  .container {
    .benefits-content {
      display: flex;
      flex-direction: column;
      &__text {
        h3 {
          margin-left: 5px;
          margin-bottom: 12px;
        }
        h2 {
          margin-bottom: 20px;
        }
        .btn {
          margin-bottom: 41px;
        }
      }
      &__image {
        img {
          mix-blend-mode: lighten;
          width: 100%;
        }
      }
    }
  }
}
