@import "../../../assets/sass/main.scss";

.testimonials {
  background-color: $background-blue;
  padding-bottom: 24px;
  .container {
    .section-title {
      text-align: center;
      h3 {
        margin-bottom: 16px;
      }
      h2 {
        margin-bottom: 20px;
      }
    }
    .card-list {
      .row {
        display: flex;
        flex-wrap: wrap;
        row-gap: 89px;
        column-gap: 19px;
        padding-top: 67px;
        justify-content: center;
        .card {
          position: relative;
          min-height: 317px;
          padding: 0;
          .card-box {
            padding-top: 75px;
            padding-left: 38px;
            padding-right: 38px;
            padding-bottom: 16px;
            gap: 18px;
            &__icon {
              position: absolute;
              top: -67px;
              left: 50%;
              transform: translateX(-50%);
              margin-bottom: 8px;
            }
            &__title {
              h5 {
                text-shadow: 0px 4.000000476837158px 4.000000476837158px
                  rgba(255, 255, 255, 0.25);
                font-family: $font-lexend;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: capitalize;
              }
            }
            &__text {
              p {
                text-align: start;
                color: #a0a0a0;
                font-family: $font-lexend;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
              }
            }
          }
        }
      }
    }
  }
}
