@import "../../assets/sass/main.scss";

#subscription-form {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2px;
  background-image: $gradient-purple;
  box-shadow: $shadow-primary;
  @include tablet {
    max-width: 600px;
    margin: 0 auto;
  }
  .form-inputs {
    border-radius: 20px;
    padding: 11px;
    background-color: #302652;
    .email-input {
      box-sizing: border-box;
      width: 100%;
      padding: 16.6016px 24px;
      background-color: $text-white;
      border-radius: 12px;
      border: none;
      margin-bottom: 8px;
      @include tablet {
        margin-bottom: 0px;
      }
      //
      color: $background-blue;
      font-family: $font-lexend;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &::placeholder {
        color: $background-blue;
        font-family: $font-lexend;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    @include tablet {
      display: flex;
      align-items: center;
      button {
        margin-left: -15%;
      }
    }
  }
}
